@model frontendnet.Models.Usuario
@{
    ViewData["Title"] = "Usuarios";
    ViewData["SubTitle"] = "Editar";
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb small">
        <li class="breadcrumb-item">
            <a class="text-decoration-none" title="Regresar al listado" asp-action="Index">Listado</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            @ViewData["SubTitle"]
        </li>
    </ol>
</nav>

<h2 class="text-center mb-3">
    @ViewData["Title"]
    <small class="text-muted fs-5">@ViewData["SubTitle"]</small>
</h2>

@if (ViewBag.PuedeEditar) {
    <form asp-action="Editar">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card mt-3">
            <div class="card-body small">
                <!-- Campo de Id (Solo lectura) -->
                <div class="form-floating mb-3">
                    <input asp-for="Id" placeholder="Id" readonly class="form-control-plaintext" />
                    <label asp-for="Id" class="form-label"></label>
                </div>

                <!-- Campo de Email (Solo lectura) -->
                <div class="form-floating mb-3">
                    <input asp-for="Email" placeholder="Email" readonly class="form-control-plaintext" />
                    <label asp-for="Email" class="form-label"></label>
                </div>

                <!-- Campo de Nombre (Editable) -->
                <div class="form-floating mb-3">
                    <input asp-for="Nombre" placeholder="Nombre" class="form-control" />
                    <label asp-for="Nombre" class="form-label"></label>
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>

                <!-- Select de Rol (Editable) -->
                <div class="form-floating mb-3">
                    <select class="form-select" asp-for="Rol" asp-items="@ViewBag.Rol">
                        <option value="">Seleccione un rol de usuario</option>
                    </select>
                    <label asp-for="Rol" class="form-label"></label>
                    <span asp-validation-for="Rol" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="text-center mt-3">
            <button id="btnEnviar" type="submit" class="btn btn-sm btn-primary" aria-label="Guardar los cambios">Guardar</button>
            <a class="btn btn-sm btn-outline-secondary" asp-action="Index" title="Cancelar" aria-label="Cancelar y volver al listado">Cancelar</a>
        </div>
    </form>
} else {
    <div class="mt-5">
        <div class="alert alert-warning" role="alert">
            El usuario actual "<strong>@Model.Email</strong>" no puede editarse.
        </div>
    </div>
    <div class="text-center mt-3">
        <a class="btn btn-sm btn-outline-secondary" asp-action="Index" title="Cancelar" aria-label="Cancelar y volver al listado">Cancelar</a>
    </div>
}
