@model List<frontendnet.Models.Usuario>
@{
    ViewData["Title"] = "Usuarios";
    ViewData["SubTitle"] = "Listado";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb small">
        <li class="breadcrumb-item active" aria-current="page">
            @ViewData["SubTitle"]
        </li>
    </ol>
</nav>

<h2 class="text-center mb-3">
    @ViewData["Title"]
    <small class="text-muted fs-5">@ViewData["SubTitle"]</small>
</h2>

<div class="row small mb-3">
    <div class="col">
        <a class="text-decoration-none" asp-action="Crear" title="Crear nuevo">Crear nuevo</a>
    </div>
    <div class="col text-end">
        Mostrando @Model.Count() elementos
    </div>
</div>

@if(Model.Count() > 0) {
    <div class="table-responsive">
        <table class="table table-striped table-bordered small">
            <thead class="text-center">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Rol)
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rol)
                        </td>
                        <td width="1">
                            <a class="text-decoration-none small text-uppercase"
                               asp-action="Detalle"
                               asp-route-id="@item.Email"
                               aria-label="Ver detalle de @item.Email">Detalle</a>
                        </td>
                        <td width="1">
                            <a class="text-decoration-none small text-uppercase"
                               asp-action="Editar"
                               asp-route-id="@item.Email"
                               aria-label="Editar @item.Email">Editar</a>
                        </td>
                        <td width="1">
                            <a class="text-decoration-none small text-uppercase"
                               asp-action="Eliminar"
                               asp-route-id="@item.Email"
                               aria-label="Eliminar @item.Email">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
} else {
    <div class="mt-5">
        <div class="alert alert-warning" role="alert">
            No se han encontrado elementos. Intente más tarde.
        </div>
    </div>
}
