@model frontendnet.Models.Producto

<div class="card h-100">
    <!-- Product Image -->
    <img src='@((Model.ArchivoId == null)
        ? "https://placehold.co/300x200/FFF/999?text=Articulo"
        : $"{ViewBag.Url}/api/archivos/{Model.ArchivoId}")'
         alt="@Model.Titulo"
         class="portada card-img-top"
         data-url="@ViewBag.Url"
         style="max-height: 200px;" />

    <div class="card-body d-flex flex-column">
        <!-- Product Title -->
        <p class="card-text">@Model.Titulo</p>

        <!-- Product Price -->
        <h5 class="card-title">@Html.DisplayFor(model => model.Precio)</h5>

        <!-- Product Categories -->
        <p class="card-text">
            @foreach (var cat in Model.Categorias!) {
                <span class="badge rounded-pill text-bg-warning">@cat.Nombre</span>
            }
        </p>

        <!-- Shipping Info -->
        <p class="mt-auto card-text text-success fw-semibold small">
            <i class="bi bi-lightning-fill"></i>
            Envío gratis
        </p>
    </div>

    <!-- Product Footer -->
    <div class="card-footer">
        <a class="btn btn-primary btn-sm" href="a" role="button">Comprar</a>
    </div>
</div>
