@model frontendnet.Models.Categoria
@{
    ViewData["Title"] = "Categorias";
    ViewData["SubTitle"] = "Eliminar";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb small">
        <li class="breadcrumb-item">
            <a class="text-decoration-none" title="Regresar al listado" asp-action="Index">Listado</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            @ViewData["SubTitle"]
        </li>
    </ol>
</nav>

<h2 class="text-center mb-3">
    @ViewData["Title"]
    <small class="text-muted fs-5">@ViewData["SubTitle"]</small>
</h2>

@if (!Model.Protegida) {
    <p class="text-danger">¿Está seguro que desea eliminar este elemento?</p>
    <p class="text-danger">@ViewData["ErrorMessage"]</p>

    <partial name="_DetallePartial" />
    <form asp-action="Eliminar">
        <div class="text-center mt-3">
            <button id="btnEnviar" type="submit" class="btn btn-sm btn-primary" aria-label="Delete Category">Eliminar</button>
            <a class="btn btn-sm btn-outline-secondary" asp-action="Index" title="Cancelar" aria-label="Cancel and return to List">Cancelar</a>
        </div>
    </form>
} else {
    <div class="mt-5">
        <div class="alert alert-warning" role="alert">
            La categoria "<strong>@Model.Nombre</strong>" está protegida y no puede eliminarse.
        </div>
    </div>
    <div class="text-center mt-3">
        <a class="btn btn-sm btn-outline-secondary" asp-action="Index" title="Cancelar" aria-label="Cancel and return to List">Cancelar</a>
    </div>
}

<script>
    // Optional: Adding a confirmation dialog before deletion
    document.querySelector('#btnEnviar').addEventListener('click', function (e) {
        if (!confirm("¿Está seguro de que desea eliminar esta categoría?")) {
            e.preventDefault(); // Prevent form submission
        }
    });
</script>
