@model List<frontendnet.Models.Bitacora>
@{
    ViewData["Title"] = "Bitácora";
    ViewData["SubTitle"] = "Listado";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb small">
        <li class="breadcrumb-item">
            <a class="text-decoration-none" title="Regresar al listado" asp-action="Index">Listado</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            @ViewData["SubTitle"]
        </li>
    </ol>
</nav>

<h2 class="text-center mb-3">
    @ViewData["Title"]
    <small class="text-muted fs-5">@ViewData["SubTitle"]</small>
</h2>

<div class="row small mb-3">
    <div class="col">
        <a class="text-decoration-none" asp-action="Crear" title="Crear nuevo">Agregar nuevo</a>
    </div>
    <div class="col text-end">
        Mostrando @Model.Count() elementos
    </div>
</div>

@if(Model.Count() > 0) {
    <div class="table-responsive">
        <table class="table table-striped table-bordered small">
            <thead class="text-center">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.First().BitacoraId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Accion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().ElementoId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().IP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Usuario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Fecha)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BitacoraId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Accion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ElementoId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Usuario)
                        </td>
                        <td>
                            @TimeZoneInfo.ConvertTimeBySystemTimeZoneId(Convert.ToDateTime(item.Fecha), "America/Mexico_City")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
} else {
    <div class="mt-5">
        <div class="alert alert-warning" role="alert">
            No se han encontrado elementos. Intente más tarde.
        </div>
    </div>
}
