@model frontendnet.Models.Archivo

<div class="card mt-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="@(ViewBag.Url)/api/archivos/@(Model.ArchivoId)" alt="@Model.Nombre"
                 class="img-fluid img-thumbnail mt-2 ms-2" style="max-height: 300px;" />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <div class="mb-3 ps-3">
                    <label for="ArchivoId" class="form-label form-text"></label>
                    <div class="form-text text-body">@Model.ArchivoId</div>
                </div>
                <div class="mb-3 ps-3">
                    <label for="Nombre" class="form-label form-text"></label>
                    <div class="form-text text-body">@Model.Nombre</div>
                </div>
                <div class="mb-3 ps-3">
                    <label for="Mime" class="form-label form-text"></label>
                    <div class="form-text text-body">@Model.Mime</div>
                </div>
                <div class="mb-3 ps-3">
                    <label for="Size" class="form-label form-text"></label>
                    <div class="form-text text-body">@(Model.Size / 1024) KB</div>
                </div>
                <div class="mb-3 ps-3">
                    <label for="InDb" class="form-label form-text"></label>
                    <div class="form-text text-body">@(Model.InDb ? "Base de datos" : "Archivos")</div>
                </div>
            </div>
        </div>
    </div>
</div>
